@font-face {
    font-family: 'Almarai';
    src: url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700&display=swap') !important;

}

* {
    margin: 0;
    padding: 0;
    font-family: 'Almarai', sans-serif;
    box-sizing: border-box;
}
